body {
background-image: url(../img/bg.jpg);
background-color: #000;
color: #00FF41;
background-size: cover;
background-repeat: no-repeat;
}


#output {
  display: none;
}

#outputErr {
  display: none;
}
